@using ClientManagerApp.ViewModels;
@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<!-- Подключение стилей для регистрации -->
<link rel="stylesheet" href="~/css/LoginStyle.css">

<div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 card py-4">
            <h2 class="text-center custom-blue">Регистрация</h2>
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label custom-blue">Логин</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label custom-blue">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label custom-blue">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ConfirmPassword" class="control-label custom-blue">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Address" class="control-label custom-blue">Укажите адрес</label>
                    <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-8">
                        <a asp-action="Login" class="text-decoration-none custom-blue float-start">У вас есть аккаунт?</a>
                    </div>
                    <div class="col-4">
                        <input type="submit" value="Зарегистрироваться" class="btn btn-custom-blue btn-sm float-end" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
